/* Start Top bar */
.top-bar {
    background-color: #30404e;
    color: white;
}
.top-bar .nap-seo {
    margin: 15px 0;
}
.top-bar .nap-seo > a {
    color: #ff961c;
}
/* Delet margin md and sm screen */
@media (max-width: 767px) {
    .top-bar .nap-seo:first-child {
        margin-bottom: 0
    }
}
.top-bar .social {
    margin: 15px 0;
}
/* End Top Bar */

/* Start Navbar */
.navbar-nav .nav-link {
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 40px;
    color: #30404e !important;
    font-weight: 600;
}
.navbar-nav .nav-link:hover {
    color: #ff961c !important;
}
.navbar-nav .active > .nav-link {
    color: #ff961c !important;
}
/* End Navbar */

/* Start slider */
.overlay {
    position: absolute;
    width: 100%;
    background-color: #30404e;
    opacity: 78%;
    height: 100%;
    z-index: 2;
}
.carousel-item {
    background-size:cover;
    height: 80vh;
    width: 100vw;
}
.carousel-caption {
    bottom: 30vh;
}
.name {
    background-color: #ff961c;
    padding: 3px;
}
.s-one {
    background-image: url('../images/slider.jpg')
}

.s-two {
    background-image: url('../images/slider.jpg')
}

.s-three {
    background-image: url('../images/slider.jpg')
}
/* End slider */