/* Start Top bar */
.top-bar {
    background-color: #30404e;
    color: white;
}
.top-bar .nap-seo {
    margin: 15px 0;
}
.top-bar .nap-seo > a {
    color: #ff961c;
}

/* Delet margin md and sm screen */
@media (max-width: 720px) {
    .top-bar .nap-seo:first-child {
        margin-bottom: 0
    }
}
.top-bar .social {
    margin: 15px 0;
}


/* End Top Bar */
